<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">LogOut</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav nav2">
        <%for(i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1><%=title%>
            <p class="lead"></p>
          </h1>
        </div>
        <!-- <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div> -->
        </div>
      </div> 
    </div><!-- /cont -->

                                    
<div class="col col-sm-10 addform">                                                                              
    <form method="POST" action="/<%=act%>"  enctype="multipart/form-data" onsubmit="return vali()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Book Name</label>
            <input type="text" class="form-control" id="name" placeholder="" name="title" value="<%=book.title%>">
          </div>
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Author</label>
            <input type="text" class="form-control" id="author" placeholder="" name="author" value="<%=book.author%>">
          </div>
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Genre</label>
          <input type="text" class="form-control" id="genre" placeholder="" name="genre" value="<%=book.genre%>">
         
            <label for="exampleFormControlTextarea1">About Book</label>
             <input type="text" class="form-control" id="about" placeholder="" name="about" value="<%=book.about%>">
            
          </div>
        <div class="form-group">
          <label for="inputAddress2">Image File</label>
          <input type="file" class="form-control" name="image" required>
        </div>
          
         <button type="submit" class="btn btn-danger"><%=button%></button>
      </form>
</div>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
  <script src="js/add.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>